[Unit]
Description=A simple backlight dimmer

[Service]
EnvironmentFile=/etc/conf.d/dimmer.conf
ExecStart=/usr/bin/dimmer -t $TIMEOUT -d $DIM_BY

[Install]
WantedBy=multi-user.target
