[Unit]
Description=A simple backlight daemon

[Service]
ExecStart=/usr/bin/lightd --dimmer
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
